<div class="content about_page">
  <h1 class="about_title">About Me</h1>
  <hr />
  <div class="about_content">
    <img src="/assets/avatar.png" />
    <div class="about_description">
      <h5 class="description_title">LET YOUR VIDEO TELL A STORY</h5>
      <p class="description_one">I fell in love with video for many reasons; for its creativity, its emotion, but most
        importantly, for the endless different stories it can tell. Whether it be a passion project, a short film, a
        product advertisement, or an event that you always want to remember, your idea can become a video you can share
        with family, friends, and the world.
      </p>
      <p>
        Video has been a passion of mine for as long as I can remember, leading me from home videos to high school
        projects to a degree in video production. Now, I have the amazing opportunity to create videos for clients
        across the US.
      </p>
      <a href="/resume.pdf" class="button" href="#contact">View Resume</a>
      <a id="contactButton" class="button" href="#contact">Let's Get Started</a>
    </div>
  </div>
  <script>
    $('#contactButton').click(function () {
      console.log("WAT")
      var value = this.hash.substr(1)
      handleHash(value)
    })
  </script>
</div>