<div class="portfolio_list">
    <div class="portfolio_item">
        <h1>Snap Fitness</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UqMSk2EsVYs?playlist=BKfcEdMO380,wLx5OGxOYUc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <p>
            Three promotional and instructional videos created for Snap Fitness Andover done through Hennepin Technical College.
        </p>
    </div>
    <div class="portfolio_item">
        <h1>Aqua-Ponic</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AS9d230C35Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <p>
            A promotional video created with the help of Hennepin Technical College for Aqua-Ponic.
        </p>
    </div>
    <div class="portfolio_item">
        <h1>Raw Travel</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uOFiJwK8TH8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <p>
            Episode teaser for the TV show Raw Travel.
        </p>
    </div>
    <div class="portfolio_item">
        <h1>LWBC Highlights</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HAoO4l16Vi0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <p>
            Highlights reel co-shot and edited for LWBC.
        </p>
    </div>
</div>