<div class="content page">
  <h1 class="about_title">Portfolio</h1>
  <hr />

  <!-- THE YOUTUBE PLAYER -->
  <div class="vid-container">
    <iframe id="vid_frame" src="https://www.youtube.com/embed/s8Yjg-OV0QM?rel=0&amp;showinfo=0&amp;autohide=1"
      frameborder="0" width="560" height="315"></iframe>
  </div>

  <!-- THE PLAYLIST -->
  <div class="vid-list-container">
    <div class="vid-list">

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/s8Yjg-OV0QM?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/s8Yjg-OV0QM/0.jpg"></div>
      </div>
      
      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/UUDMoYT5J7M?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/UUDMoYT5J7M/0.jpg"></div>
      </div>

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/RzMPWeW-QtI?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/RzMPWeW-QtI/0.jpg"></div>
      </div>

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/UqMSk2EsVYs?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/UqMSk2EsVYs/0.jpg"></div>
      </div>

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/bpvwSNoYE9Q?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/bpvwSNoYE9Q/0.jpg"></div>
      </div>

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/qp5wmoDbqeY?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/qp5wmoDbqeY/0.jpg"></div>
      </div>

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/kbOdHLbSv6A?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/kbOdHLbSv6A/0.jpg"></div>
      </div>

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/uOFiJwK8TH8?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/uOFiJwK8TH8/0.jpg"></div>
      </div>

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/dEXBiQYup-Y?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/dEXBiQYup-Y/0.jpg"></div>
      </div>

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/9yvlE6nchJA?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/9yvlE6nchJA/0.jpg"></div>
      </div>

      <div class="vid-item"
        onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/HAoO4l16Vi0?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
        <div class="thumb"><img src="https://img.youtube.com/vi/HAoO4l16Vi0/0.jpg"></div>
      </div>
    </div>
  </div>

  <script src="scripts/portfolio.js"></script>
</div>