<div class="portfolio_list">
    <div class="portfolio_item">
        <h1>Snap Fitness</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UqMSk2EsVYs?playlist=BKfcEdMO380,wLx5OGxOYUc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <p>
            Done through Hennepin Technical School, myself and a team of others created a series of promotional and educational videos for the Snap Fitness Gym in Andover Minnesota.
        </p>
    </div>
    <div class="portfolio_item">
        <h1>Aqua-Ponic</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AS9d230C35Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <p>
            A promotional video created for Aqua-Ponic systems.
        </p>
    </div>
    <div class="portfolio_item">
        <h1>Raw Travel</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uOFiJwK8TH8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <p>
            A teaser for an episode of the Raw Travel TV show that aired worldwide in the Summer of 2018 on
        </p>
    </div>
    <div class="portfolio_item">
        <h1>LWBC Highlights</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HAoO4l16Vi0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <p>
            A highlights reel from the LWBC camp.
        </p>
    </div>
</div>